[submodule "OpenBreed.Common"]
	path = OpenBreed.Common
	url = https://github.com/mrpetro/OpenBreed.Common.git
[submodule "EPFArchive"]
	path = EPFArchive
	url = https://github.com/mrpetro/EPFArchive.git
